body
{
    background: url('/static/img/bg.jpg');
}
.list
{
    padding: 0px 10px;
}
.addCD
{
    margin: 5px;
    float: right;
}
.content
{
    background-color: white;
    padding-top: 10px;
    margin-bottom: 20px;
}
.container-fluid
{
    margin-top: 20px;
}
.detail
{
    width: 90%;
    margin: 0px auto;
    padding: 10px;
}
.detail_layout
{
    list-style: none;
}
.song_list_controller
{
    float:right;
}